.moncompte-array {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 40px 50px;
  border-bottom: 5px solid white;
}
.moncompte-body {
  min-height: calc(100vh - 168px);
  text-align: center;
  width: 70%;
  margin: 30px auto;
  background-color: #343a40;
  border: 1px transparent solid;
  border-radius: 10px;
}
.moncompte-button {
  font-size: 20px;
  color: white;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  padding: 4px;
  background-color: #343a40;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: solid transparent 0px;
}
.moncompte-body button:hover {
  border-bottom: solid#ffa766 2px;
}

.mon-compte-row {
  margin: 20px 0px;
  margin-left: 50px !important;
}
.mon-compte-col {
  text-align: left;
}
.mon-compte-col img,
label:hover {
  cursor: pointer;
}
.title-moncompte h2 {
  color: #ffa766;
  font-family: "Righteous", serif;
  display: inline-block;
  margin: 20px;
}
.title-moncompte svg {
  position: relative;
  bottom: 8px;
  margin: 10px;
  color: white;
  font-size: 30px;
}
.title-moncompte svg:hover {
  position: relative;
  bottom: 8px;
  font-size: 30px;
  cursor: pointer;
  color: #ffa766;
}
.moncompte-contact p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin-left: 40%;
}
.fcicone {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.moncompte-icon {
  font-size: 25px;
  margin: 5px;
  bottom: 4px;
  position: relative;
}
.label-input label {
  font-size: 20px;
  color: white;
}
.label-input input {
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid white 2px;
  padding: 10px;
  width: 500px;
}
.moncompte-button-modifier button {
  margin: 20px;
  font-size: 15px;
  color: #ffa766;
  font-family: "Righteous", serif;
  border: solid#ffa766 2px;
  border-radius: 10px;
  background-color: #343a40;
  margin-bottom: 50px;
}
.mon-compte-col svg {
  position: relative;
  bottom: 4px;
  margin: 10px;
  font-size: 50px;
}

.mon-compte-col svg:hover {
  position: relative;
  bottom: 4px;
  margin: 10px;
  font-size: 50px;
  cursor: pointer;
  color: #ffa766;
}
.mon-compte-col h3:hover {
  cursor: pointer;
  color: #ffa766;
}
.display-edit {
  color: white;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  margin: 30px;
}

@media screen and (max-width: 800px) {
  .label-input input {
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid white 2px;
    padding: 10px;
    width: 250px;
  }
  .moncompte-contact p {
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 10px;
  }
  .mon-compte-col {
    flex-basis: auto !important;
  }
}
