/*.goodies {
  text-align: center;
}*/
.content-body {
  background-color: blueviolet;
  left: 0px;
}
/*.onePiece {
  margin: 50px;
}*/
.barre {
  text-align: center;
}

.content-container {
  margin: 30px;
}
